source activate econsa


export PROJECT_ROOT=$PWD

# We need access to auxiliary scripts for our workflow.
export PATH=$PWD/bin:$PATH

# We need access to our packages.
export PYTHONPATH=$PROJECT_ROOT:$PYTHONPATH
export PYTHONPATH=$PROJECT_ROOT/submodules/temfpy:$PYTHONPATH

# Location of matplotlib configuration
export MATPLOTLIBRC=$PWD/configurations

# Location for jupyter configuration
export JUPYTER_CONFIG_DIR=$PWD/configurations/jupyter

# Location for startup scripts
export IPYTHONDIR=$PWD/configurations/ipython
