# Please keep this file updated.
# Check authors list: $ git shortlog -s -e
# Last update: 2020-12-14
Philipp Eisenhauer <eisenhauer@policy-lab.org> peisenha <peisenha@protonmail.com>
Mila Kiseleva <49441004+milakis@users.noreply.github.com>
Yulei Li <liyulei2018@gmail.com> Yulei <49230141+Yuleii@users.noreply.github.com>
Linda Maokomatanda <lindamaok899@gmail.com> linda_m <44195641+lindamaok899@users.noreply.github.com>
Linda Maokomatanda <lindamaok899@gmail.com> Linda <lindamaok899@gmail.com>
Margarita Rad <62288646+MargaritaRad@users.noreply.github.com>
Leiqiong Wan <wanleiqiong@gmail.com> loikein
Luis Wardenbach <luis.wardenbach@uni-bonn.de> luward <43029491+luward@users.noreply.github.com>
