name: econsa

channels:
  - defaults
  - conda-forge
  - opensourceeconomics

dependencies:
  - python=3.7
  - sphinx
  - pandas
  - numpy
  - pip
  - scipy
  - jupyter
  - jupyterlab
  - seaborn
  - numba
  - pdbpp
  - chaospy
  - pytest
  - pytest-black
  - pytest-flake8
  - pytest-cov
  - pytest-sugar
  - hypothesis
  - nbsphinx
  - sphinx_rtd_theme
  - sphinxcontrib-bibtex
  - r-base
  - r-r.utils
  - r-condmvnorm
  - rpy2==2.9.4
  - pip:
    - isort
    - pytest-stress
    - pytest-randomly
    - black
    - black-nb
    - flake8-nb
    - numpydoc
    - pre-commit
