name: CI

on: [push]

jobs:
  run-tests:
    name: Run tests for ${{ matrix.os }} on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.7']

    steps:
    - uses: actions/checkout@v2

    - uses: goanpeca/setup-miniconda@v1.0.2
      with:
          auto-update-conda: true
          activate-environment: econsa
          environment-file: environment.yml
          python-version: ${{ matrix.python-version }}

    - name: Run test suite.
      shell: bash -l {0}
      run: |
        # Set-up conda
        if [ "${{ matrix.os }}" == "macos-latest" ]; then
          export PATH="$PATH:/usr/local/miniconda/bin"
        elif [ "${{ matrix.os }}" == "windows-latest" ]; then
          export PATH=$PATH:"/C/Miniconda/condabin"
        else
          export PATH="$PATH:/usr/share/miniconda/bin"
        fi

        source .envrc
        pytest --cov=econsa --cov-report=xml

        # We want to make sure proper formatting of the notebooks.
        flake8-nb; [ $? -eq 0 ] || exit 1
        black-nb .; [ $? -eq 0 ] || exit 1

        # We want to pull the submodules.
        # This can be removed once temfpy is live on conda.
        git submodule update --init --recursive

    - name: Upload coverage to Codecov,
      uses: codecov/codecov-action@v1
      with:
        file: coverage.xml

    - name: Build docs.
      if: runner.os == 'Linux' && matrix.python-version == '3.7'
      shell: bash -l {0}
      run: |
        export PATH="$PATH:/usr/share/miniconda/bin"
        source .envrc
        cd docs
        make html

    - name: Run figures.
      shell: bash -l {0}
      run: |
        export PATH="$PATH:/usr/share/miniconda/bin"
        source .envrc
        run-figures

    - name: Run pre-commits.
      if: runner.os == 'Linux' && matrix.python-version == '3.7'
      shell: bash -l {0}
      run: |
        pre-commit install -f --install-hooks
        pre-commit run --all-files
